
      body {
        font: normal 400 14px/1.6 'Open Sans', sans-serif;
        color: #333;
        overflow-x: hidden;
      }
      
      ::selection {
        color: #fff;
        background: #ef4135;
      }
      
      #hero {
        position: relative;
        font-size: 0;
        text-align: center;
        background: url(img/hero.jpg) no-repeat center center;
        background-size: cover;
      }
      
      #hero:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }
      
      #hero:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background: #000;
      }
      
      #hero-content {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        z-index: 1;
        font-size: 1rem;
      }
      
      #hero-content h1 {
        display: block;
        margin: 0 -14px;
        font-size: 42px;
        font-weight: 900;
        line-height: 1.1;
        text-indent: 14px;
        letter-spacing: 17px;
        text-transform: uppercase;
        color: #fff;
      }
      
      #hero-content h2 {
        display: inline-block;
        padding: 10px 0;
        margin: 15px 0;
        font-family: Lora, serif;
        font-size: 28px;
        font-weight: 400;
        font-style: italic;
        letter-spacing: 1px;
        color: #fff;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
      }
      
      #hero-content ul {
        display: block;
        padding: 0;
        margin: 10px 0 0;
        list-style: none;
        font-size: 0;
        text-align: justify;
      }
      
      #hero-content ul:after {
        content: '';
        display: inline-block;
        width: 100%;
      }
      
      #hero-content ul li {
        display: inline-block;
      }
      
      #hero-content ul li a {
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-size: 11px;
        font-weight: 600;
        color: #999;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-decoration: none;
        transition: all 200ms;
      }
      
      #hero-content ul li a:hover {
        color: #fff;
      }
      
      #hero-content ul li a.active {
        color: #fff;
      }
      
      #hero-content ul {
        position: relative;
      }
      
      #hero-content ul:before {
        content: "";
        display: block;
        width: 150px;
        height: 60px;
        position: absolute;
        top: 0;
        left: -170px;
        opacity: 0;
        pointer-events: none;
        background: url(img/cms.png) no-repeat 0 0;
        transition: opacity 150ms;
      }
      
      #hero-content ul:hover:before {
        opacity: 1;
      }
      
      .featured-title {
        padding: 80px 20px;
        margin: 0;
        font: normal 900 24px/1 'Open Sans', sans-serif;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        background: #f6f6f6;
      }
      
      .demos {
        padding: 100px 40px;
        background: #fff;
      }
      
      .demos ul {
        list-style: none;
        padding: 0;
        margin: -20px;
        overflow: hidden;
      }
      
      .demos ul li {
        display: block;
        padding: 20px;
        margin: 0 0 50px;
        float: left;
        width: 33.3%;
        box-sizing: border-box;
      }
      
      .demos ul li a {
        position: relative;
        display: block;
        padding: 60.5% 0 0;
        margin: 0;
        overflow: hidden;
        font: normal 900 13px/50px 'Open Sans', sans-serif;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #333;
        background: url(img/macbook-small.png) no-repeat center 0;
        background-size: contain;
        transition: all 150ms;
      }
      
      .demos ul li a:before {
        content: 'View Demo';
        display: block;
        width: 110px;
        max-width: 55%;
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        margin: 0 auto;
        margin-top: -45px;
        opacity: 0;
        z-index: 1;
        font: normal 600 11px/30px 'Open Sans', sans-serif;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1px;
        color: #fff;
        border: 2px solid #fff;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 99px;
        transition: inherit;
      }
      
      .demos ul li a img {
        position: absolute;
        top: 5.5%;
        left: 12.5%;
        width: 75%;
        z-index: 0;
        opacity: 0.85;
        transition: inherit;
        transform: translate3d(0, 0, 0);
      }
      
      .demos ul li a:hover {
        color: #ef4135;
      }
      
      .demos ul li a:hover:before {
        opacity: 1;
      }
      
      .demos ul li a:hover img {
        opacity: 1;
      }
      
      .demos ul li.active a {
        cursor: default;
        pointer-events: none;
        color: #ef4135;
      }
      
      .demos ul li.active a:before {
        content: 'Currently viewing';
        width: 180px;
        opacity: 1;
        border-color: transparent;
        background: #ef4135;
      }
      
      .demos ul li.active a img {
        opacity: 0.25;
      }
      
      .demos-pager {
        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;
        z-index: 9;
      }
      
      .demos-pager a {
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        margin: 0 5px;
        font: normal 600 11px/30px 'Open Sans', sans-serif;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1px;
        text-decoration: none;
        color: #fff;
        border: 2px solid rgba(255, 255, 255, 0.25);
        border-radius: 99px;
        transition: all 150ms;
      }
      
      .demos-pager span {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
        padding: 0 20px;
        font: italic normal 14px/40px Lora;
        letter-spacing: 1px;
        color: #fff;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 99px;
      }
      
      .demos-pager a:hover {
        border-color: #fff;
      }
      
      .features {
        position: relative;
        display: block;
        padding: 45% 0 0;
        background: url(img/macbook-half-right.png) no-repeat 0 center #f6f6f6;
        background-size: 45%;
      }
      
      .features > .wb-container-large {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
      }
      
      .features-wrap {
        display: block;
        width: 45%;
        float: right;
      }
      
      .features h1 {
        display: block;
        margin: 0;
        font: italic 400 28px/1.25 Lora, serif;
        letter-spacing: 1px;
        color: #333;
      }
      
      .features h1 small {
        display: block;
        margin: 0 0 10px;
        font: normal 900 13px/1 'Open Sans', sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #ef4135;
      }
      
      .features ul {
        list-style: none;
        padding: 0;
        margin: 40px 0;
      }
      
      .features ul li {
        position: relative;
        padding-left: 30px;
        line-height: 30px;
      }
      
      .features ul li:before {
        content: '\e69d';
        display: block;
        font: normal normal 14px/30px WBIcons;
        position: absolute;
        left: 0;
        top: 0;
        color: #ef4135;
      }
      
      .featured-btn {
        display: inline-block;
        vertical-align: bottom;
        width: 200px;
        outline: none;
        font-weight: 600;
        line-height: 50px;
        letter-spacing: 1px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        border: none;
        border-bottom: 3px solid #C13025;
        background: #ef4135;
        border-radius: 5px;
      }
      
      #footer {
        padding: 80px;
        font: italic 400 18px/1.7 Lora, serif;
        text-align: center;
        letter-spacing: 1px;
        color: #fff;
        background: #1d242c;
      }
      
      #footer p {
        margin: 0;
      }
      
      #footer i {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px;
        color: #f33;
      }
      
      #footer .copyright {
        margin-top: 30px;
        font: normal 600 12px/1 'Open Sans', sans-serif;
        letter-spacing: 2px;
        color: #999;
      }
      
      @media screen and (max-width: 991px) {
        .demos ul li {
          width: 50%;
        }
        
        .features {
          padding-right: 100px;
          padding-left: 100px;
          background-image: none;
        }
        
        .features ul {
          display: inline-block;
          margin-top: 20px;
          text-align: initial;
        }
        
        .features-wrap {
          float: none;
          width: 100%;
          text-align: center;
        }
      }
      
      @media screen and (max-width: 600px) {
        #hero-content h1 {
          font-size: 40px;
        }
        
        #hero-content h2 {
          font-size: 18px;
        }
        
        #hero-content ul li {
          width: 50%;
          text-align: center;
          margin: 10px 0;
        }
        
        .filters ul li {
          display: block;
          margin: 20px;
        }
        
        .filters ul li a {
          width: 150px;
        }
        
        .demos ul li {
          width: 100%;
        }
      }