<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <form id="worldpay-payments-card-form" class="form form-purchase-order" data-role="purchaseorder-form">
            <fieldset class="fieldset payment method" data-bind='attr: {id: "payment_form_" + getCode()}'>
                <input type="hidden"
                   name="payment[token]"
                   class="input-text"
                   value=""
                   data-bind="attr: {id: getCode() + '_token'},
                   value: paymentToken
                   ">
                <div class="validation-advice" style="display:none;" id="worldpay-payment-errors"></div>

                <div class="field field-number required">
                    <label for="wp_bankcode" class="label">
                        <span><!-- ko i18n: 'Bank Code'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text"
                               id="wp_shopperbankcode"
                               data-validate="{required:true}"
                               data-bind='
                                attr: {title: $t("Shopper Bank Code")},
                                value: shopperBankCode'
                               class="input-text"/>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar" id="review-buttons-container">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: createIdealToken,
                        attr: {title: $t('Place Order')},
                        enable: (getCode() == isChecked()),
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        "
                        data-role="review-save">
                    <span data-bind="i18n: 'Continue to iDeal'"></span>
                </button>
            </div>
        </div>
    </div>
</div>