<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
<system>
    <section id="payment" translate="label" sortOrder="345" type="text" showInDefault="1" showInWebsite="1" showInStore="1">

        <group id="worldpay_payments" translate="label" sortOrder="100" type="text" showInDefault="1" showInWebsite="1">
            <label>Worldpay Online Payments</label>
            <field id="mode" translate="label" sortOrder="6" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Environment Mode</label>
                <source_model>Worldpay\Payments\Model\Source\WorldpayMode</source_model>
                <config_path>payment/worldpay_payments_card/mode</config_path>
            </field>
            <field id="test_service_key" translate="label" sortOrder="7" type="text" showInDefault="1" showInStore="1">
                <label>Test Service Key</label>
                <config_path>payment/worldpay_payments_card/test_service_key</config_path>
            </field>
            <field id="test_client_key" translate="label" sortOrder="8" type="text" showInDefault="1" showInStore="1">
                <label>Test Client Key</label>
                <config_path>payment/worldpay_payments_card/test_client_key</config_path>
            </field>
            <field id="live_service_key" translate="label" sortOrder="9" type="text" showInDefault="1" showInStore="1">
                <label>Live Service Key</label>
                <config_path>payment/worldpay_payments_card/live_service_key</config_path>
            </field>
            <field id="live_client_key" translate="label" sortOrder="10" type="text" showInDefault="1" showInStore="1">
                <label>Live Client Key</label>
                <config_path>payment/worldpay_payments_card/live_client_key</config_path>
            </field>         
            <field id="settlement_currency" translate="label" sortOrder="12" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Default Settlement Currency</label>
                <source_model>Magento\Config\Model\Config\Source\Locale\Currency</source_model>
                <config_path>payment/worldpay_payments_card/settlement_currency</config_path>
            </field>
            <field id="order_status" translate="label" sortOrder="13" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>New order status</label>
                <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                <config_path>payment/worldpay_payments_card/order_status</config_path>
            </field>
            <field id="description" translate="label" sortOrder="14" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Payment Description</label>
                <config_path>payment/worldpay_payments_card/payment_description</config_path>
            </field>

            <field id="mapping" translate="label comment tooltip" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sitecodes</label>
                <frontend_model>Worldpay\Payments\Block\Adminhtml\Sitecode</frontend_model>
                <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                <config_path>payment/worldpay_payments_card/sitecodes</config_path>
                <tooltip>Maps currency to sitecode, if you do not use site codes, you can leave it blank</tooltip>
            </field>

            <field id="shop_country_code" translate="label" sortOrder="12" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Shop Country Code</label>
                <source_model>Magento\Config\Model\Config\Source\Locale\Country</source_model>
                <config_path>payment/worldpay_payments_card/shop_country_code</config_path>
            </field>
            <field id="language_code" translate="label" sortOrder="14" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Language Code</label>
                <config_path>payment/worldpay_payments_card/language_code</config_path>
            </field>

        </group>

        <group id="worldpay_payments_card" translate="label" sortOrder="200" type="text" showInDefault="1" showInWebsite="1">
            <label>Worldpay Cards</label>
            <field id="active" translate="label" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enabled</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/worldpay_payments_card/active</config_path>
            </field>
            <field id="title" translate="label" sortOrder="2" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Title</label>
            </field>
            <field id="payment_action" translate="label" sortOrder="3" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Payment Action</label>
                <config_path>payment/worldpay_payments_card/payment_action</config_path>
                <source_model>Worldpay\Payments\Model\Source\PaymentAction</source_model>
            </field>
            <field id="storeonfile" translate="label" sortOrder="4" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Store customers card on file</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/worldpay_payments_card/save_card</config_path>
            </field>
            <field id="use3ds" translate="label" sortOrder="5" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Use 3D Secure</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/worldpay_payments_card/threeds_enabled</config_path>
            </field>
            
            <field id="enable_logging" translate="label" sortOrder="11" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enable Debug</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/worldpay_payments_card/debug</config_path>
            </field>
        </group>

        <group id="worldpay_payments_paypal" translate="label" sortOrder="300" type="text" showInDefault="1" showInWebsite="1">
            <label>Worldpay PayPal</label>
            <field id="paypal_active" translate="label" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Paypal Enabled</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/worldpay_payments_paypal/active</config_path>
            </field>
            <field id="title" translate="label" sortOrder="2" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Title</label>
            </field>
            <field id="paypal_logging" translate="label" sortOrder="3" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enable Debug</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/worldpay_payments_paypal/debug</config_path>
            </field>
        </group>

        <group id="worldpay_payments_alipay" translate="label" sortOrder="400" type="text" showInDefault="1" showInWebsite="1">
            <label>Worldpay Alipay</label>
            <field id="alipay_active" translate="label" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Alipay Enabled</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/worldpay_payments_alipay/active</config_path>
            </field>
            <field id="title" translate="label" sortOrder="2" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Title</label>
            </field>
            <field id="giropay_logging" translate="label" sortOrder="3" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enable Debug</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/worldpay_payments_alipay/debug</config_path>
            </field>
        </group>

        <group id="worldpay_payments_giropay" translate="label" sortOrder="500" type="text" showInDefault="1" showInWebsite="1">
            <label>Worldpay Giropay</label>
            <field id="giropay_active" translate="label" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Giropay Enabled</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/worldpay_payments_giropay/active</config_path>
            </field>
            <field id="title" translate="label" sortOrder="2" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Title</label>
            </field>
            <field id="giropay_logging" translate="label" sortOrder="3" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enable Debug</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/worldpay_payments_giropay/debug</config_path>
            </field>
        </group>

        <group id="worldpay_payments_ideal" translate="label" sortOrder="600" type="text" showInDefault="1" showInWebsite="1">
            <label>Worldpay iDeal</label>
            <field id="ideal_active" translate="label" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>iDeal Enabled</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/worldpay_payments_ideal/active</config_path>
            </field>
            <field id="title" translate="label" sortOrder="2" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Title</label>
            </field>
            <field id="ideal_logging" translate="label" sortOrder="3" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enable Debug</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/worldpay_payments_ideal/debug</config_path>
            </field>
        </group>

        <group id="worldpay_payments_mistercash" translate="label" sortOrder="700" type="text" showInDefault="1" showInWebsite="1">
            <label>Worldpay Mistercash</label>
            <field id="ideal_active" translate="label" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Mistercash Enabled</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/worldpay_payments_mistercash/active</config_path>
            </field>
            <field id="title" translate="label" sortOrder="2" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Title</label>
            </field>
            <field id="mistercash_logging" translate="label" sortOrder="3" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enable Debug</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/worldpay_payments_mistercash/debug</config_path>
            </field>
        </group>

        <group id="worldpay_payments_przelewy24" translate="label" sortOrder="800" type="text" showInDefault="1" showInWebsite="1">
            <label>Worldpay Przelewy24</label>
            <field id="p24_active" translate="label" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Przelewy24 Enabled</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/worldpay_payments_przelewy24/active</config_path>
            </field>
            <field id="title" translate="label" sortOrder="2" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Title</label>
            </field>
            <field id="p24_logging" translate="label" sortOrder="3" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enable Debug</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/worldpay_payments_przelewy24/debug</config_path>
            </field>
        </group>

        <group id="worldpay_payments_paysafecard" translate="label" sortOrder="900" type="text" showInDefault="1" showInWebsite="1">
            <label>Worldpay PaySafeCard</label>
            <field id="paysafecard_active" translate="label" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PaySafeCard Enabled</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/worldpay_payments_paysafecard/active</config_path>
            </field>
            <field id="title" translate="label" sortOrder="2" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Title</label>
            </field>
            <field id="paysafecard_logging" translate="label" sortOrder="3" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enable Debug</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/worldpay_payments_paysafecard/debug</config_path>
            </field>
        </group>

        <group id="worldpay_payments_postepay" translate="label" sortOrder="1000" type="text" showInDefault="1" showInWebsite="1">
            <label>Worldpay Postepay</label>
            <field id="postepay_active" translate="label" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Postepay Enabled</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/worldpay_payments_postepay/active</config_path>
            </field>
            <field id="title" translate="label" sortOrder="2" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Title</label>
            </field>
            <field id="postepay_logging" translate="label" sortOrder="3" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enable Debug</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/worldpay_payments_postepay/debug</config_path>
            </field>
        </group>

        <group id="worldpay_payments_qiwi" translate="label" sortOrder="1100" type="text" showInDefault="1" showInWebsite="1">
            <label>Worldpay Qiwi</label>
            <field id="qiwi_active" translate="label" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Qiwi Enabled</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/worldpay_payments_qiwi/active</config_path>
            </field>
            <field id="title" translate="label" sortOrder="2" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Title</label>
            </field>
            <field id="qiwi_logging" translate="label" sortOrder="3" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enable Debug</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/worldpay_payments_qiwi/debug</config_path>
            </field>
        </group>

        <group id="worldpay_payments_sofort" translate="label" sortOrder="1200" type="text" showInDefault="1" showInWebsite="1">
            <label>Worldpay Sofort</label>
            <field id="qiwi_active" translate="label" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sofort Enabled</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/worldpay_payments_sofort/active</config_path>
            </field>
            <field id="title" translate="label" sortOrder="2" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Title</label>
            </field>
            <field id="qiwi_logging" translate="label" sortOrder="3" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enable Debug</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/worldpay_payments_sofort/debug</config_path>
            </field>
        </group>

        <group id="worldpay_payments_yandex" translate="label" sortOrder="1300" type="text" showInDefault="1" showInWebsite="1">
            <label>Worldpay Yandex</label>
            <field id="yandex_active" translate="label" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Yandex Enabled</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/worldpay_payments_yandex/active</config_path>
            </field>
            <field id="title" translate="label" sortOrder="2" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Title</label>
            </field>
            <field id="yandex_logging" translate="label" sortOrder="3" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enable Debug</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/worldpay_payments_yandex/debug</config_path>
            </field>
        </group>

    </section>
</system>
</config>
